---
const { num } = Astro.props;
import { getCollection } from "astro:content";
const allPosts = await getCollection("docs");
import LinkCard from "../components/LinkCard.astro";
---

<!-- Make a div, and then up to num entries, create a LinkCard element using the href slug -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {allPosts.filter(post => post.id != "index").slice(0, num).map((post) => (
    <LinkCard href={"/" + post.id} />
  ))}
</div>